# Hyperliquid API Private Key Configuration
# Категорически рекомендуется использовать выделенный API Wallet (только для торговли)
HL_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000

# EVM адрес вашего основного кошелька (для которого выпущен API Wallet)
HL_ACCOUNT_ADDRESS=0x0000000000000000000000000000000000000000

# Режим тестовой сети (True для Testnet, False для Mainnet)
HL_IS_TESTNET=True
